/* Header.module.css */

.dropdown-item {
  padding: 0.5rem 1rem;
  background-color: #1a202c;
  border: 1px solid #2d3748;
  border-radius: 0.25rem;
  transition:
    background-color 0.3s,
    transform 0.3s;
}

.dropdown-item:hover {
  background-color: #2d3748;
  transform: translateX(5px);
  color: #3b5f8f;
}
